image:
  repository: minio/minio
  tag: "latest"

service:
  port: 9000
  consolePort: 9001

persistence:
  storageClass: local-path
  size: 20Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 600m
    memory: 1Gi

auth:
  secretName: uplink-minio-secret
  vaultKey: uplink/dev/minio
  secretStoreName: vault-uplink

ingress:
  enabled: true
  className: traefik
  clusterIssuer: letsencrypt-prod

  apiHost: uplink-minio-dev.sh-2rm-an.tech
  consoleHost: uplink-minio-console-dev.sh-2rm-an.tech

  apiTlsSecret: uplink-minio-dev-tls
  consoleTlsSecret: uplink-minio-console-dev-tls
