image:
  repository: redis
  tag: "7"

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 300m
    memory: 256Mi

persistence:
  enabled: true
  storageClass: local-path
  size: 2Gi
